
/* -- This CSS File contains the styles that are applied to the "About Multimanage"
      page elements -- */

.about {
	background: url(../images/icon-big.jpg) no-repeat top left;
	padding: 0px 0px 0px 235px;
}

.about li {
	margin-bottom: 0.2em;
	list-style-type: disc;
	list-style-position: inside;
}