.popup-window {
	background: #FFF;
	color:#000;
	overflow:auto;
	height: 500px;
	width: 700px;
}

.popup-window h2 {
	background-position: top left;
	background-repeat: no-repeat;	
	font-size: 25px;
	font-weight: normal;
	padding: 45px 0px 70px 165px;
}