<div class="row">
	<div class="span6 project">
		<a href="#">
			<h1>Urban Development</h1>
			<h2>Colonie, Antwerpen</h2>
			<img src="{link href="application/resources/images/projects/6.jpg"}" alt="" title=""/>
		</a>
	</div>
	<div class="span6 project">
		<a href="#">
			<h1>Urban Development</h1>
			<h2>Colonie, Antwerpen</h2>
			<img src="{link href="application/resources/images/projects/7.jpg"}" alt="" title=""/>
		</a>
	</div>
</div>
<div class="row">
	<div class="span4 project">
		<a href="#">
			<h1>Urban Development</h1>
			<h2>Colonie, Antwerpen</h2>
			<img src="{link href="application/resources/images/projects/2.jpg"}" alt="" title=""/>
		</a>
	</div>
	<div class="span4 project">
		<a href="#">
			<h1>Urban Development</h1>
			<h2>Colonie, Antwerpen</h2>
			<img src="{link href="application/resources/images/projects/4.jpg"}" alt="" title=""/>
		</a>
	</div>
	<div class="span4 project">
		<a href="#">
			<h1>Urban Development</h1>
			<h2>Colonie, Antwerpen</h2>
			<img src="{link href="application/resources/images/projects/3.jpg"}" alt="" title=""/>
		</a>
	</div>
</div>
<div class="row">
	<div class="span12 project">
		<a href="#">
			<h1>Urban Development</h1>
			<h2>Colonie, Antwerpen</h2>
			<img src="{link href="application/resources/images/projects/8.jpg"}" alt="" title=""/>
		</a>
	</div>
</div>

