a.mce_downloads {
	background:url(../images/downloads-icon-editor.png) no-repeat center center !important;
	cursor: pointer;
}

#fieldDownloads {
	width: 700px;
	height: 400px;
	display: none;
}

#downloads-popup-window {
	width: 700px;
	height: 400px;
	background: #FFF;
	color:#000;
	overflow:auto;
}

#downloads-popup-window h2 {
	background: url(../images/downloads-icon-large.png) no-repeat top left;
	font-size: 25px;
	font-weight: normal;
	padding: 45px 0px 70px 165px;
}

#download-section-filter {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d4d9d9;
	background-color: #e9eded;
	padding: 8px 10px;
}