.jquery-m-popmenu-wrapper-1 {
	background: url(../../images/m-popmenu-tl.png) no-repeat top left;
}

.jquery-m-popmenu-wrapper-2 {
	background: url(../../images/m-popmenu-tr.png) no-repeat top right;
	margin-left: 14px;
	padding-top: 14px;
}

.jquery-m-popmenu-wrapper-3 {
	margin-left: -14px;
	background: url(../../images/m-popmenu-bl.png) no-repeat bottom left;
	padding-left: 14px;
}

.jquery-m-popmenu-wrapper-4 {
	background: url(../../images/m-popmenu-br.png) no-repeat bottom right;
	padding: 0px 7px 19px 0px;
}

.jquery-m-popmenu-wrapper-5 {
	overflow: auto;
}

.jquery-m-popmenu-wrapper-4 .group {
	color: #999999;
	font-weight: bold;
	padding: 5px 10px 5px 5px;
}

.jquery-m-popmenu-wrapper-4 .separator {
	clear: both;
	margin: 5px 0px 5px -7px;
	height: 1px;
	background-color: #999999;
}

.jquery-m-popmenu-wrapper-4 a {
	margin-left: -7px;
	padding: 4px 15px;
	display: block;
	font-size: 14px;
	clear: both;
	/* width: 100%; Make IE sensitive for hover on entire width (should be in IE-dedicated css) */
}

.jquery-m-popmenu-wrapper-4 a, .jquery-m-popmenu-wrapper-4 a:visited {
	color: #000000;
	text-decoration: none;
}

.jquery-m-popmenu-wrapper-4 a:active, .jquery-m-popmenu-wrapper-4 a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #4db90a;
	cursor: default;
}

.jquery-m-popmenu-wrapper-4 a img {
	vertical-align: middle;
}