<div id="download-login-iframe">
	<h2>{t text="Wachtwoord Ok"}</h2>
	<div class="form-error-message">{t text="De download zal dadelijk starten"}</div>
</div>

{jsfile file="application/resources/javascript/download-iframe.js" context="download-iframe-js"}