<div id="download-login-iframe">
	<h2>{t text="Wachtwoord vereist"}</h2>
	
	{* Form *}
	{assign var="formView" value=$form->getView()}
	{$formView->setSubmitButtonLabel(t('Aanmelden'))}
	{$formView->fetch()}
	
</div>


