#menu {
	a:link {
		color: #fff;
	}
	a:visited {
		color: #fff;
	}
	a:hover {
		color: #FE6F10;
	}
	a:active {
		color: #fff;
	}
}

.slider-nav {
	width: 80%;
	margin: 0 auto;
	z-index:1000;
	position:absolute;
	top:50%;
	left:10%;
	display: block;
/*
	.opacity(100);
	.transition(all ease 0.6s);
*/
	
	@media (max-width: 767px) {
		display: none;
	}
}

@media (max-width: 767px) {
	#sidebar-mobile {
		display: block!important;
	}
	.slider-nav {
		display: none!important;
	}
	#sidebar {
		display: none!important;
	}
	#menu a:hover {
	color: #fff;
	}
}