{foreach $networkMembers as $networkMember}
	{$iteration2 = $networkMember@iteration -1}
	{* open row *}
	{if $networkMember@iteration == 1 || $iteration2 % 3 == 0}
		<div class="row row-small company">
	{/if}
	<div class="span4">
{*			{$album = $networkMember->getMediaAlbum()}
		{if $album}
			{$image = $album->getImage()}
			{$imageTitle = $networkMember->getText()}
			{$imagePath = {link href="thumbnail/teamMember/{$image->getBasename()}"}}
		{else}
			{$imagePath = {link href="application/resources/images/placeholder.jpg" prefix='false'}}
			{t text='No image available' assignto='imageTitle'}
		{/if}
		<img src="{$imagePath}" alt="{$imageTitle}" title="{$imageTitle}"/>
*}			<h1 class="title-light">{$networkMember->getTitle()}</h1>
		<p>
			{$networkMember->getText()}
		</p>
	</div>
	{* close row *}
	{if $networkMember@iteration % 3 == 0 OR $networkMember@last}
		</div>
	{/if}
{/foreach}