/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Actual css for placeholder */

html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
    height: 100%;
}
.bold {
    font-weight: bold;
}

.cursive {
    font-style: italic;
}

#container {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

#content {
    min-height: 500px;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 0 0 180px 0;
}

.circle {
    position: absolute;
    top: 75px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: #FE6F10;
    text-align:center;
}

.circle-content {
    padding: 25% 0;
    font-size: 2em;
    line-height: 120%;
}

.bigger {
    font-size: 130%;
}

footer {
    height: 180px;
    margin-top: -180px;
    background-color: #FE6F10;
    position: relative;
}

#footer {
    padding:5px 15px 0;
    text-align: center;
}

#footer span {
    text-align: center;
}

#footer img {
    padding-top: 10px;
    float: left;
}

.f-left {
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.f-right {
    text-align: right;
    margin-top: 5px;
    font-size: 0.8em;
    line-height: 120%;
    position: absolute;
    right: 15px;
    bottom: 7px;
}

.center {
    padding-top: 15px;
    float: left;
    width: 100%;
    font-size: 1.1em;
    line-height: 110%;
}


@media (min-width: 400px) {
    #content {
        padding: 0 0 160px 0;
    }
    footer {
        height: 160px;
        margin-top: -160px;
    }
}

@media (min-width: 768px) {
    .circle {
        top: 150px;
    }
    .center {
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    #content {
        padding: 0 0 80px 0;
    }
    footer {
        height: 80px;
        margin-top: -80px;
    }
    .f-left {
        position: inherit;
        float: left;
        width: 25%;
    }

    .f-right {
        position: inherit;
        float: right;
        width: 25%;
    }

    .center {
        float: left;
        width: 50%;
    }
}

    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}