<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{foreach from=$urls item="freq" key="url"}<url><loc>{link href=$url}</loc><changefreq>{$freq}</changefreq></url>{/foreach}
</urlset>