#flash-wrapper {
	height:41px;
	width:100%;
}

.importMediaDescription {
	padding:20px 15px;
	font-size:0.9em;
	color:#AAAAAA;
}

.importMediaDescription a {
	color:#AAAAAA;
	font-size:0.95em;
	text-decoration:none;
}

.importMediaDescription a:hover {
	text-decoration:underline;
}

#error ul li {
	list-style-type:disc;
	padding-left:5px;
}

#error ul {
	padding-left:35px;
	padding-top:10px;
	padding-bottom:10px;
}