// import various .less files first (see comments inside the files for details about their function)
// do NOT change the order!!
@import 'normalize.less';
@import 'variables.less';
@import 'mixins.less';
@import 'generic-classes.less';
@import 'print.less';
@import 'jquery.vegas.less';
@import 'fancybox-2.1.4.less';
@import 'flexslider.less';
@import 'bootstrap.less';

@clr-orange: #FE6F10;
@clr-grey: #C4C4C4;
@clr-grey-dark: #3A3A3A;

body {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  background: #fff;
}
*:focus {
  outline: none;
}

.row {
  margin-top: 40px;
}

.container {
  margin-bottom: 150px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

img {
  max-width: 100%;
}
a, a:link, a:visited, a:hover, a:hover, a:active {
  outline: none;
}

a {
  text-decoration: none;
  .transition(all ease .4s);
}

a:link {
  color: @clr-grey;
}

a:visited {
  color: @clr-grey;
}

a:hover {
  color: @clr-orange;
  .transition(all ease .4s);
}

a:active {
  color: @clr-grey;
}

.title-dark {
  color: @clr-grey-dark;
  font-weight: 600;
  padding: 20px 0;

  @media (max-width: 992px) {
    font-size: 80px;
    font-weight: 200;
  }
}

.title-light {
  color: @clr-grey;
  font-size: 25px;
  font-weight: 100;
  line-height: 40px;

  @media (max-width: 992px) {
    font-weight: 300;
  }
}

.title-404 {
  color: @clr-orange;
  font-size: 80px;
  font-weight: 100;
  line-height: 40px;
  padding: 50px 0 30px 0;
}

.subtitle-404 {
  color: @clr-grey-dark;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
}

p {
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 3px solid #E5E5E5;
}

/* HELPERS
-------------------------------------------------- */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.black {
  color: #000;
}

.row-large {
  margin-top: 50px;
}

.row-small {
  margin-top: 0px;
}

.text-center {
  text-align: center;
  font-size: 2em;
}

/* FADIN ON PAGELOAD
-------------------------------------------------- */

.container, #sidebar, .slider-nav {
  animation: fadein .6s ease;
  -moz-animation: fadein .6s ease;
  -webkit-animation: fadein .6s ease;
  -o-animation: fadein .6s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MENU
-------------------------------------------------- */

#menu {

  ul {
    margin-top: 30px;
    clear: both;
    @media (max-width: 992px) {
      display: none;
    }
  }

  li {
    display: table-cell;
    width: 1%;
    float: none;
    list-style-type: none;
    text-transform: capitalize;
    //text-align: right;
    vertical-align: middle;
    font-weight: 300;
    .transition(all ease .4s);

    @media (max-width: 992px) {
      background: @clr-orange;
      color: #fff;
      text-align: right;
    }
    &:last-child {
      text-align: right;
    }
  }

  a {
    text-decoration: none;
    .transition(all ease .4s);
  }
  a:link {
    color: @clr-grey;
  }
  a:visited {
    color: @clr-grey;
  }
  a:hover {
    color: @clr-orange;
    .transition(all ease .4s);
  }
  a:active {
    color: @clr-grey;
  }
  .active a {
    color: @clr-orange;
    font-weight: 500;
  }

  #nav-toggle {
    display: none;
    float: right;
    width: 29px;
    height: 24px;
    padding: 0 3px 24px 0;
    overflow: hidden;
    background: url("../images/hamburger.png") no-repeat 50% 50%;
    position: absolute;
    top: 55px;
    right: 18px;

    @media (max-width: 992px) {
      display: block ;
    }
  }

  @media (max-width: 992px) {
    margin-top: 80px;

    li {
      display: block;
      width: 100%;
      padding: 10px 0;
      margin-bottom: 10px;
      font-size: 24px;
    }

    li:last-child {
      display: inline-block;
      float: none;
      font-size: 16px;
    }

    button {
      background-color: transparent;
    }

    a {
      margin-right: 20px;
      text-decoration: none;
      .transition(all ease .4s);
    }

    a:link {
      color: #fff;
    }

    a:visited {
      color: #fff;
    }

    a:hover {
      color: #fff;
      .transition(all ease .4s);
    }

    a:active {
      color: #fff;
    }

    .active {
      background: @clr-grey;

      a {
        color: #fff;
        font-weight: 300;
      }
    }

  }
}

#home-logo {
  background: url('../images/logo-orange.png') no-repeat;
  width: 174px;
  height: 50px;
  display: block;
  z-index: 5000;
  position: absolute;
  .hide-text();
  .transition(all ease .6s);
}

#home-logo:hover {
  .opacity(70);
  .transition(all ease .6s);
}

.search-container {
  z-index: 999;
  float: right;
  position: relative;
  width: 25px;
  overflow: hidden;
  transition: width 0.5s;
  @media (max-width: 992px) {
    width: 100%;
    margin-right: 20px;
    overflow: visible;
  }
  /*
  &:hover {
    transition: width 0.5s;
    width: 216px;
  }
  */
}
.search-onclick {
  transition: width 0.5s;
  width: 216px;
  //overflow: visible;
}
.focus-container {
  width: 216px;
  overflow: visible;
}

#search-form {
  input[type="search"] {
    border: none;
    padding: 2px 31px 2px 6px;
    margin: 0;
    height: 26px;
    @media (max-width: 992px) {
      visibility: visible;
    }
    background-color: #f5f5f5;
    color: @clr-grey;
    font-weight: 300;
  }
  button {
    border: none;
    @media (max-width: 992px) {
      background-color: transparent;
    }
    position: absolute;
    width: 25px;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;

  }
  img {
    margin: 6px 0 2px;
    width: 18px;
  }

  input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: @clr-grey;
  }
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: @clr-grey;
    opacity: 1;
  }
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: @clr-grey;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: @clr-grey;
  }
  .tt-empty-message {
    padding: 5px 5px 10px;
  }
  .tt-dropdown-menu {
    margin-top: 5px;
    text-align: left;
    color: @clr-grey;
    padding: 5px 0 0;
    background-color: white;
    border-top: none;
    max-height: 400px;
    box-sizing: border-box;
    width: 100%;
    overflow: scroll;
  }
  .tt-suggestion {
    padding: 0 5px 0;
    cursor: pointer;
  }
  .tt-suggestion-title {
    color: @clr-orange;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .tt-suggestion-desc {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .tt-cursor {
    background-color: #f5f5f5;
    color: @clr-grey;
  }
  .search-footer {
    margin: 0 auto 10px;
    width: 80%;
    border-bottom: 1px dotted @clr-grey;
  }
}

/* SIDEBAR
-------------------------------------------------- */

#sidebar {
  background: @clr-orange;
  width: 35%;
  @media (max-width: 2000px) {
	 width: 32%; 
	 margin-left: -32%;
  }
  margin-left: -35%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  .transition(all ease .6s);
  @media (max-width: 1024px) {
    display: none;
  }
}

#sidebar-button {
  position: absolute;
  top: 156px;
  right: -52px;
  cursor: pointer;
  background: @clr-orange;
  color: #fff;
  padding: 6px 6px;
  text-transform: uppercase;
  font-size: 12px;
  .rotate(-90deg);
}

#arrow_up{
	position: absolute;
	a{
		width: 30px;
		height: 30px;
		display:block
	}
	@media (max-height: 820px) {
		top: -65px;
		left:150px;
		bottom:auto;
	 }
	top: -65px;
    left: 130px;
	background: url(../images/arrow_up.png);
	background-size: cover;
}
#arrow_down{
	position: absolute;
	a{
		width: 30px;
		height: 30px;
		display:block
	}
	@media (max-height: 820px) {
		top: -65px;
		left:110px;
		bottom:auto;
	 }
	top: 580px;
    left: 130px;
	background: url(../images/arrow_down.png);
	background-size: cover;
}
#arrow_down:hover,#arrow_up:hover{
	opacity: .8;
}
#sidebar-news {
	position: relative;
	max-width: 300px;
	margin: 200px auto;
  .sidebar-news-item {
	  padding: 15px;
	  
	  margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  img {
    max-width: 100%;
    width: auto;
    margin-bottom: 10px;
  }
  .sidebar-news-text {
    text-align: left;
    h1 {
      font-size: 16px;
      color: #d6d6d6;
      a {
        &:hover {
          color: #fff;
        }
      }
    }
    p {
      font-size: 14px;
      color: #fff;
    }
  }
}

#sidebar:hover {
  margin-left: 0;
  ~ .container #home-logo {
    background: url('../images/logo-white.png') no-repeat;
    .transition(all ease .6s);
  }
}

/* ADDRESS
-------------------------------------------------- */

.address {
  color: #fff;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 10px 0;
  }

  li {
    font-weight: 200;
    line-height: 18px;
  }

  a {
    font-style: oblique;
  }

  b {
    font-weight: 500;
  }
}

.address-contact {
  position: relative;
  height: 300px;
  @media (max-width: 992px) {
    height: 150px;
  }

  & > div {
    position: absolute;
    bottom: 0;

    ul {
      color: #000;
      margin: 5px 0 0 0;
    }

    h1 {
      color: #000;
      font-size: 25px;
    }

    a {
      text-decoration: none;
      font-style: normal;
    }
    a:link {
      color: @clr-orange;
    }
    a:visited {
      color: @clr-orange;
    }
    a:hover {
      color: @clr-orange;
      text-decoration: underline;
    }
    a:active {
      color: @clr-orange;
    }

    li {
      font-weight: 400;
      line-height: 20px;
    }

    b {
      font-weight: 600;
    }
  }
}

.address-space {
  margin-top: 10px;
}

/* SIDEBAR PHONE
-------------------------------------------------- */

#sidebar-mobile {
  display: none !important;
  margin-top: 0;

  background: @clr-orange;

  h1 {
    padding: 10px;
    font-weight: 200;
  }

  .address {
    padding: 0 10px;
  }

  a {
    text-decoration: none;
  }
  a:link {
    color: #fff;
  }
  a:visited {
    color: #fff;
  }
  a:hover {
    color: #fff;
    text-decoration: underline;
  }
  a:active {
    color: #fff;
  }
}

/* BG SLIDER NAV
-------------------------------------------------- */

.circle {
  width: 26px;
  height: 26px;
  .border-radius(13px);
  .transition(all ease .4s);

  @media (min-width: 768px) and (max-width: 979px) {
    width: 36px;
    height: 36px;
    .border-radius(18px);
  }
}

.circle:hover {
  .scale(1.3);
  .transition(all ease .4s);
  cursor: pointer;
}

.circle:active {
  .scale(1);
  .transition(all ease .4s);
}

.circle-orange {
  background: @clr-orange;
}

/* MAPS
-------------------------------------------------- */

#map-bxl, #map-paris {
  height: 300px;
  background: @clr-orange;
}

/* PUBLICATIONS
-------------------------------------------------- */

.publication {

  .date {
    color: @clr-grey;
    font-weight: 200;

    @media (max-width: 992px) {
      padding: 0 0 10px 0;
      font-size: 80px;
    }
  }
  @media (max-width: 992px) {
    img {
      margin-bottom: 10px;
    }
  }

  .title {
    font-weight: 600;
    font-size: 1.4em;

    a {
      text-decoration: none;
    }
    a:link {
      color: @clr-orange;
    }
    a:visited {
      color: @clr-orange;
    }
    a:hover {
      color: @clr-orange;
      text-decoration: underline;
    }
    a:active {
      color: @clr-orange;
    }
  }

  .author {
    color: @clr-grey;
    padding: 10px 0 0 0;
  }

  .publication {
    color: @clr-grey;
    padding: 4px 0 0 0;
  }

  .description {
    p {
      color: #000;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
    }
  }

  .publication-pdf-link {
    color: #000;
    &:hover {
      color: @clr-orange;
    }
  }
}

.publication-detail {

  .title {
    color: @clr-grey-dark;
    font-weight: 600;
    padding: 0 0 20px 0;
  }

  .subtitle {
    color: @clr-grey;
    font-weight: 200;
    font-size: 20px;
    line-height: 22px;
  }

  .page {
    font-weight: 900;
    line-height: 25px;
  }

  .article {
    padding-top: 20px;
    line-height: 24px;
    font-weight: 200;
    font-size: 16px;
  }

  .website {
    font-size: 13px;

    a {
      color: @clr-grey;
      text-decoration: none;
      font-style: italic;
    }

    a:link {
      color: @clr-grey;
    }
    a:visited {
      color: @clr-grey
    }
    a:hover {
      color: @clr-orange;
    }
    a:active {
      color: @clr-orange;
    }

    @media (max-width: 992px) {
      background: @clr-grey;
      font-size: 1em;
      padding: 15px;
      margin-bottom: 5px;
      color: #fff;

      a {
        color: @clr-grey-dark;
      }

      a:link {
        color: @clr-grey-dark;
      }

      a:visited {
        color: @clr-grey-dark;
      }

      a:hover {
        color: @clr-orange;
      }

      a:active {
        color: @clr-orange;
      }
    }
  }

  .website-first {
    margin-top: 20px;
  }

  img {
    padding: 0 0 20px 0;

    width: 100%;
    height: 100%;
    line-height: 0;
    .transition(all ease .3s);
    .scale(1);
  }

  .img-wrapper {
    overflow: hidden;
  }

  a {
    .transition(all ease .4s);
  }

  a:hover {
    .transition(all ease .4s);
  }

}

/* PROJECTS
-------------------------------------------------- */

.project {
  .project-info {
    position: absolute;
    font-weight: 200;
    padding: 15px;
    z-index: 99;
    /*		background: #000;
            background: rgba(0,0,0,0.3);*/
    @media (max-width: 992px) {
      font-weight: 400;
    }
  }

  .project-info-image {
    img {
      width: 100%;
    }
  }

  .project-info-title {
    color: @clr-orange;
    font-size: 18px;
    letter-spacing: 1px
  }

  .project-info-sub-title {
    color: @clr-orange;
    font-size: 15px;
  }

  @media (max-width: 992px) {
    margin-bottom: 10px;
  }

  .image-wrapper {
    overflow: hidden;
    img {
      .transition(all ease .4s);
    }
  }

  .image-wrapper-big {
    img {
      .transition(all ease .6s);
    }
  }
}

.project:hover {
  .image-wrapper {
    img {
      .scale(1.2);
      .opacity(80);
      .transition(all ease .3s);
    }
  }

  .image-wrapper-big {
    img {
      .scale(1.05);
      .transition(all ease .6s);
    }
  }
}

/* PROJECTDETAIL
-------------------------------------------------- */

.project-detail {
  font-weight: 300;

  li {
    line-height: 20px;
    a {
      color: #000;
      &:hover {
        color: @clr-orange;
      }
    }
  }

  li:first-child {
    color: @clr-grey;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 20px;
  }
}

.project-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;

  li {
    display: inline-block;
    width: 33%;
    overflow: hidden;
    margin: 0 0 4px 0;
    @media (max-width: 979px) {
      width: 100%;
      padding: 0 0 20px 0;
    }
  }

  .project {
    h1, h2 {
      font-size: 14px;
      font-weight: 500;
    }

    h2 {
      color: @clr-orange;
      margin-top: 15px;
    }
  }
}

/* PROJECTSLIDER
-------------------------------------------------- */

.project-slider {
  .flex-caption {
    color: @clr-orange;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
    padding: 15px 0;
    /*		background: #000;
            background: rgba(0,0,0,0.3);*/

    p {
      font-weight: 300;
      display: inline-block;
    }

    p:first-child {
      color: @clr-orange;
    }
  }
  .slide {
    padding-top: 50px;
  }
  .flex-pauseplay {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    font-size: 0px;
    cursor: pointer;
  }
  .flex-play {
    display: inline-block;
    width: 50px;
    height: 34px;
    background: url('../images/flex-play.png') no-repeat center center;
  }
  .flex-pause {
    display: inline-block;
    width: 50px;
    height: 34px;
    background: url('../images/flex-pause.png') no-repeat center center;
  }

  .nav {
    width: 96%;
    margin: 0 auto;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 2%;
    display: block;
    .opacity(0);
    .transition(all ease .6s);

    img {
      width: auto;
    }

    .nav-control {
      background: url("../images/slider-nav.png") no-repeat;
      width: 30px;
      height: 30px;
    }

  }
}

.project-slider:hover {
  .nav {
    .opacity(70);
    .transition(all ease .6s);

    .previous:hover, .next:hover {
      .opacity(100);
    }
  }
}

.project-slider .slides li {
  position: relative;
}

/* COMPANY
-------------------------------------------------- */

.company {
  .span4 {
    margin-bottom: 10px;

    p {
      padding-bottom: 25px;
    }
  }
}

/* PAGER
-------------------------------------------------- */
.pager {
  float: right;
  display: block;
  li {
    .transition(all ease .6s);
    float: left;
    padding: 5px 9px;
    text-align: center;
    background: @clr-orange;
    margin-right: 5px;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      display: block;
      font-weight: 100;

      @media (max-width: 992px) {
        font-size: 40px;
        width: 30px;
        padding: 0;

      }
    }
  }
  li:last-child {
    margin-right: 0px;
  }
  li:hover {
    .transition(all ease .6s);
    background: @clr-grey;
  }
  .active {
    background: @clr-grey;
    a {
      color: #fff;
    }
  }
}