// -- Generic classes -- //
//
// version: 1.0
// date: 05/12/2012
//

// A collection of generic classes that are likely to be used in all applications
strong { font-weight: bold; }
em { font-style: italic; }
.m-clear { clear: both; }
.m-left { float: left; }
.m-right { float: right; }

// -- hiding
// completly hidden, both for screenreaders and normal browsers
.m-hidden {
    display: none !important;
    visibility: hidden;
}
// only hidden for normal browsers, still visisble for screenreaders
.m-hidden-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// clearfix
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
	 clear: both;
}
.clearfix {
	 zoom: 1; /* IE < 8 */
}