// -- Print styles -- //
// source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
//
// Placed inline to avoid extra http request

@media print {
	
	// don't print the element if this class is applied (to element or inside less)
	.no-print {
		display: none !important;
	}

	// remove all color and shadows -- could perhaps be disabled ?
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
	 
	// -- hyperlinks 
	// underline
	// add url after the link, but not for javascript or #
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    } 
	 a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
	 
	 // show content of abbriviation
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
	 
	 // avoid breaking up blockquotes / pre, and put them in a frame
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
	 
	 // repeat table head on top of each required page
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
	 
	 // avoid pagebreaks inside images and table-rows
    tr, img {
        page-break-inside: avoid;
    }
	 
	 // resize images to page width if required
    img {
        max-width: 100% !important;
    }
	 
	 // ad a margin to the page
    @page {
        margin: 1cm;
    }
	 
	 // at least 3 lines of text to allow pagebreak
	 // also see http://reference.sitepoint.com/css/orphans
    p, h2, h3, h4, h5, h6 {
        orphans: 3;
        widows: 3;
    }
	 
	 // prevent titles form appearing at the bottom of a page
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
}