// -- Required Mixin Parameters -- //
//
// change these values to set the default behaviour of mixins for your application
// the defaults can always be overwritten by providing parameters when using the mixins
//
// do not delete any of these, as this will break the mixins.less file
// the names should speak for themselves, so no descriptions where added
// for more information, refer to the mixins.less file
//
@debug: 1; // (for debugging media queries) value > 0 - debugmode on, <= 0 - debugmode off - SET TO 0 BEFORE DEPLOYMENT!
@defaultBorderRadius: 2px;
@defaultBoxShadow: 0 1px 3px rgba(0,0,0,0.3); 
@defaultTextShadow: 0 1px 3px rgba(0,0,0,0.3); 
@defaultTransition: all ease 0.5s 0s;
@defaultTransitionDelay: 1s;
@defaultGradientColor: #ffdd99;
@defaultImageFolder: "../images/";


// -- Required Variables for Generic Classes -- //
//
// Some variables that are used by the generic classes
// If you remove any, make sure you remove the corresponding class in generic-classes.less
@colorSelection: #ffcc99; // the background color for text selected by the user
@focusColor: #ffcc99; // the glow of the input / link that has focus
@focusSize: 8px; // the size of the glow for the element with focus



// -- Application variables -- //
//
// Here you can declare your application's variables, such as colors, dimensions, image files, ...
// the following are samples and not realy required
//
.defaultFontFamily { font-family: Helvetica, Arial, sans-serif; }
@footerHeight: 40px;


// -- fancybox variables -- //
@fcbxZindex: 10000;
.fcbxFontFamily {.defaultFontFamily;}
@fcbxRadius: 4px;
@fcbxBoxShadow: 0 10px 25px rgba(0, 0, 0, 0.5);
@fcbxBackgroundColorLight: #f9f9f9;
@fcbxFontColorDark: #444;
@fcbxFontColorLight: #fff;
@fcbxBackgroundColorLight: #444;
@fcbxImageFolder: "fancybox-2.1.3/"; // path relative to the default images folder