
/* -- General Page Properties -- */

body {
	background: url(../images/bg.gif) repeat-x top left #151714;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 13px;
	color: #000;
}

a {
	outline: none;
}

a, a:visited {
	color: #0b59d9;
	text-decoration: underline;
}

a:active, a:hover {
	color: #4c8df6;
	text-decoration: underline;
}

/* Shortcut classes */

.clear {
	clear: both;
}

.left {
	float: left;
}

/* Page Title */

h1 {
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	padding: 0px 20px;
	color: #000;
}

/* The page wrapper */

#wrapper {
}

#page-wrapper {
	width: 560px;
	padding-top: 129px;
	margin: 0px auto;
}

/* Login window */

#window-wrapper {
	background: url(../images/frame-top-bg.gif) no-repeat top center;
}

#window {
	background: url(../images/frame-bottom-bg.gif) no-repeat bottom center;
	padding: 21px 19px 93px 19px;
}

/* -- Password Recovery Button -- */

#passwordRecoveryButton {
	display: block;
	padding: 0px 15px 20px 145px;
}

#loginFormButton {
	display: block;
	padding: 0px 15px 20px 145px;
}

/* -- Text wrapper in the login window -- */

#window p {
	padding: 0px 20px;
}

#window ul {
	padding: 0px 40px;
}

#window ul li {
	list-style-position: outside;
	padding: 10px 10px;
	line-height: 150%;
}

#window p.reading {
	line-height: 150%;
	height: 160px;
}

/* -- Small notes -- */

.small {
	font-size: 12px;
}

.note {
	color: #aaa;
	padding-top: 10px;
}

/* Sticky footer */

html, body {
	height: 100%;
}

#wrapper {
	/* the bottom margin is the negative value of the footerwrapper's height */
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -57px 0px;
}

/* -- Footer -- */

#footer {
	clear: both;
	background: url(../images/footer-multimanage.gif) no-repeat bottom left #0d0e0c;
	height: 57px;
	color: #ffffff;
}

#footer span {
	display: none;
}

#multimedium {
	outline: none;
	display: block;
	height: 57px;
	width: 100%;
	text-indent: -2000px;
}

#powered-by {
	float: left;
	width: 375px;
}

#footer-links {
	padding: 20px 15px 0px 10px;
	float: right;
	font-size: 16px;
}

#footer-links a, #footer-links a:visited {
	color: #ffffff;
}

#footer-links a:active, #footer-links a:hover {
	color: #ffffff;
}
